body {
    margin-top: 60px;
}

#arti-list {
    padding: 0.5em 0;
}

#article-list article {
    padding: 0.5em;
    margin: 0 -0.5em;
}

#sidebar-list {
    font-size: 0.9em;
    list-style: none;
    padding-left: 0;
}
#sidebar-list li { 
    padding: 0.5em;

    background-color: rgb(245, 245, 245);  /* @TODO: use lesscss constant. */
    border: 1px solid rgb(231, 231, 231);
    border-bottom: none;

}
#sidebar-list li.selected {
    background-color: white;
    border-right: none;
}