{% extends "base.html" %}
{% load jstemplate mezzanine_tags staticfiles %}

{% block breadcrumb_menu %}
<!-- @TODO Real link. -->
<li>
    <a>Backend</a>
</li>
<li class="active">Articles</li>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static "admin.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "jquery.hotkeys.js" %}"></script>
    <script src="{% static "handlebars.js" %}"></script>
    <script src="{% static "underscore.js" %}"></script>
    <script src="{% static "backbone.js" %}"></script>
    <script src="{% static "django_csrf.js" %}"></script>
    <script src="{% static "admin.js" %}"></script>

    <script>
      window.bericht = window.bericht || {};
      window.bericht.api_endpoint = '{{ api_endpoint }}';
    </script>
{% endblock %}


{% block meta_title %}
Articles
{% endblock %}

{% block custom_layout %}
    <div class="row">
      <ul class="menu nav nav-tabs">
        <li class="active"><a href="#">New</a></li>
        <li><a href="#">Downvoted</a></li>
        <li><a href="#">Published</a></li>
      </ul>
    </div>
    <div class="row">
      <div id="sidebar" class="col-md-3 left">
        <ul id="sidebar-list">
        </ul>
        <ul class="pager small">
          <li class="next"><a href="#">Older &rarr;</a></li>
          <li class="previous"><a href="#">&larr; Newer</a></li>
        </ul>
      </div>
      <div id="content" class="col-md-9 middle">
      </div>
    </div>
{% endblock %}

{% block templates %}
{% handlebarsjs "article-single" precompile %}
{% handlebarsjs "voting-bar" precompile %}
{% endblock %}
