{% extends "base.html" %}
{% load mezzanine_tags staticfiles mustachejs %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "admin.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "jquery.hotkeys.js" %}"></script>
    <script src="{% static "underscore.js" %}"></script>
    <script src="{% static "backbone.js" %}"></script>
    <script src="{% static "admin.js" %}"></script>
{% endblock %}


{% block meta_title %}
Articles
{% endblock %}

{% block custom_layout %}
    <div class="row">
      <div id="sidebar" class="col-md-3 left">
        <ul id="sidebar-list">
        </ul>
      </div>
      <div id="content" class="col-md-9 middle">
      </div>
    </div>
{% endblock %}
