[group:{{project_name}}]
programs=gunicorn

[program:gunicorn]
command={{project_root}}/env/bin/gunicorn wsgi:application -c {{project_root}}/gunicorn.conf.py -p  {{project_root}}/gunicorn.pid
directory={{project_root}}/code/bericht
user={{project_name}}
autostart=true
autorestart=true
redirect_stderr=true
