body {
    overflow-y: scroll; /* hack to force vertical scrollbar on all pages */
}

.menu {
    margin: 15px;
}

#article-list {
    padding: 0.5em 0;
}

#article-list article {
    padding: 0.5em;
    margin: 0 -0.5em;
}

#sidebar-list {
    font-size: 0.9em;
    list-style: none;
    padding-left: 0;
}
#sidebar-list li { 
    padding: 0.5em;

    background-color: rgb(245, 245, 245);  /* @TODO: use lesscss constant. */
    border: 1px solid rgb(231, 231, 231);
    border-bottom: none;
}
#sidebar-list li:last-child { border-bottom: 1px solid rgb(231, 231, 231); }

#sidebar-list li.selected {
    background-color: white;
    border-right-color: white;
}

article h2 {
    /* Bootstraps h2 has a font-size of 30px and a line-height of 1.1 = 33px.
       We set the height of this container to at least 66px to avoid vertical
       jumps of the content area when we switch between articles with one- and
       two-line headings. */
    min-height: 66px;
}
article .meta {
    padding: 1em 0;
}
article .meta .info .glyphicon {
    margin-left: 1em;
    margin-right: 0.1em;
}
article .meta .tags { padding-top: 1em; }
article .meta .glyphicon { margin-right: 0.5em; }